{% extends 'usuarios/layout.html' %}
{% block content %}
    <form action="/procesarFormularioUsuario" method="POST">
        <!-- Validacion del formulario al usar metodo POST -->
        {% csrf_token %}
        HOLA<br /><br /><br /><br />
        RUT: <input name="numID" type="text" placeholder="your ID" /><br />
        Nombre: <input name="name" type="text" placeholder="your name" /><br />
        Apellido: <input name="lastname" type="text" placeholder="your lastname" /><br />
        Correo: <input name="email" type="email" placeholder="mail@mail.com" /><br />
        Edad: <input name="age" type="text" placeholder="your age" /><br />
        <button>Registrar</button>
    </form>
    {{mensaje}} {{rut}} {{email}}
{% endblock %}