html, body {
    width: 100%;
    height: 100%;
}

main {
    background: chocolate;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    color: green;
}

p {
    color:blue;
    font-size:12px;
    font-family:Courier;
}